<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <img src="assets/images/logo-small.png">
        <p>Machinery.ng is your reliable platform for the getting access to various machines that are available for rent.</p>
        <p class="text-gray">&copy; 2018 Machinery.ng. All rights reserved.</p>
      </div>
      <div class="three columns">
        <h4>Welcome</h4>
        <ul>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">Contact us</a>
          </li>
          <li>
            <a href="#">Safe Renting</a>
          </li>
        </ul>
      </div>
      <div class="three columns">
        <h4>Help</h4>
        <ul>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">Contact us</a>
          </li>
          <li>
            <a href="#">Safe Renting</a>
          </li>
        </ul>
      </div>
      <div class="two columns">
        <h4>We are social</h4>
        <div class="social">
          <a href="#">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter-square"></i>
          </a>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>